.Info_Contact{
  width: 100%;
  height: 100%;
  padding: 50px;
  /* background: #f9f; */
}
.InfoContact-Main{
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  /* height: 100%;x */
  background-color: #fff;
}
.InfoImage img{
  width: 700px;
  padding: 20px;
}
.InforRight{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
form{
  display:flex;
  flex-direction: column;
  width:  500px;
}
input , textarea {
  padding: 15px 0;
  margin: 0  0 10px;
  background-color: #cccccc;
}